.radial {
  --radial-size: 560px;
  --radial-radius: 200px;
  --radial-pad: 32px;
  --radial-icon: 64px;
  --radial-gap-icon-title: 12px;
  --radial-gap-title-sub: 2px;
  --radial-ray-size: 968px;
  --ray-angle: 0deg;
  --ray-alpha: 0.9;

  position: relative;
  width: var(--radial-size);
  height: var(--radial-size);
  border-radius: var(--radial-radius);
  background: var(--radial-bg);
  border: 1px solid var(--border-radial);
  overflow: hidden;
}

.radial__ray {
  position: absolute;
  left: 50%;
  top: 50%;
  width: var(--radial-ray-size);
  height: var(--radial-ray-size);
  transform: translate(-50%, -50%) rotate(calc(var(--ray-angle) + 90deg));
  transform-origin: center;
  opacity: var(--ray-alpha);
  transition: var(--transition-ray-rotate);
  pointer-events: none;
  z-index: 1;
}

.radial__grid {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.radial__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--radial-pad);
  gap: var(--radial-gap-icon-title);
  text-align: center;
  color: var(--text-secondary);
  opacity: 0.2;
}

.radial__item--active {
  opacity: 1;
  color: var(--text-primary);
}

.radial__item--up {
  grid-row: 1;
  grid-column: 2;
}

.radial__item--right {
  grid-row: 2;
  grid-column: 3;
}

.radial__item--down {
  grid-row: 3;
  grid-column: 2;
}

.radial__item--left {
  grid-row: 2;
  grid-column: 1;
}

.radial__icon {
  width: var(--radial-icon);
  height: var(--radial-icon);
  position: relative;
}

.radial__icon-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.radial__icon-img--focus {
  opacity: 0;
}

.radial__item--active .radial__icon-img--default {
  opacity: 0;
}

.radial__item--active .radial__icon-img--focus {
  opacity: 1;
}

.radial__badge {
  position: absolute;
  right: -4px;
  bottom: -4px;
}

.radial__title {
  font-size: var(--text-16-600-size);
  font-weight: var(--text-16-600-weight);
  line-height: var(--text-16-600-lh);
}

.radial__subtitle {
  margin-top: var(--radial-gap-title-sub);
  font-size: var(--text-12-600-size);
  font-weight: var(--text-12-600-weight);
  line-height: var(--text-12-600-lh);
  color: var(--text-secondary);
}

.radial__subtitle--hidden {
  visibility: hidden;
}
