:root {
  /* Icon glyph tokens (curated from prototype) */
  --icon-arrow-back: "null";
  --icon-arrow-forward: "null";
  --icon-arrow-up: "null";
  --icon-arrow-down: "null";
  --icon-arrow-right: "null";
  --icon-check: "null";
  --icon-close: "null";
  --icon-radio-button-unchecked: "null";
  --icon-radio-button-checked: "null";
  --icon-toggle-on: "null";
  --icon-toggle-off: "null";
  --icon-edit: "null";
  --icon-keyboard: "null";
  --icon-backspace: "null";
  --icon-search: "null";
  --icon-settings: "null";
  --icon-home: "null";
  --icon-place: "null";
  --icon-wifi: "null";
  --icon-radar: "null";
  --icon-air: "null";
  --icon-thermostat: "null";
  --icon-opacity: "null";
  --icon-water-drop: "null";
  --icon-home-repair-service: "null";
  --icon-swords: "null";
  --icon-rocket: "null";
  --icon-display-settings: "null";
  --icon-tablet: "null";
  --icon-delete: "null";
  --icon-visibility: "null";
  --icon-visibility-off: "null";
  --icon-add: "null";
  --icon-remove: "null";
  --icon-error: "null";
  --icon-warning: "null";
  --icon-info: "null";
  --icon-checkbox-checked: "null";
  --icon-checkbox-unchecked: "null";
  --icon-coordinate-problem: "null";
  --icon-landmark: "null";
  --icon-gnss-ok: "null";
  --icon-gnss-error: "null";
  --icon-center-focus-weak: "null";
  --icon-stop: "null";
  --icon-fiber-manual-record: "null";
  --icon-download: "null";
  --icon-system-update-alt: "null";
}
